/* ================ contacto.html =============== */

.contacto {
    background-color: beige;
    padding: 15px;

    text-align: center;
    justify-content: center;
    align-items: center;

    h2 {
        height: 50px;
    }
}

.horarios  {
    font-weight: bold;
    font-size: 1.2rem;
}