/* ================ nuestroscafes.html =============== */

.nuestros-cafes {
    background-color: beige;
    padding: 15px;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.tabla-cafes {
    align-items: center;
    justify-content: center;

    /* No logré hacer que la tabla quedase en el medio y ocupara todo el ancho! */
}